body {
 background-color: white
}
.bg-grey-custom {
    background-color: #eaecef;
}
.light-gray {
    color: #bdbdbd!important;
}

/* MAIN BANNER STYLES */
.main-title {
    font-size: 70px !important;
    font-weight: 300;
}
.main-text {
    font-weight: 300;
    font-size: 18px;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
